<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EDU_BASE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">EDU_BASE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="front"><a href="/register">PORTFOLIO</a></li>
          <li id="front"><a href="/front">HOME</a></li>
          <li id="front"><a href="/">BLOG</a></li>
            <li id="front"><a href="/compose">STUDY MATERIAL</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="about"><a href="/">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
