<%- include("partials/header"); -%>
    <h1>Meet Our Team</h1>

    <div class="container" style="background-color: lightblue" >
      <p style="font-size: 1.5em">
      🖳Piyush Kumar
      </p>
      <p>
         Founder & Admin
      </p>
      <p>
        <a href="https://github.com/pyshkumar"> @pyshkumar</a>
      </p>
    </div>
    <div class="container">
      <p style="font-size: 1.5em">
      🖳Joy Rattoo
      </p>
      <p>
         Founder & Admin
      </p>
      <p>
        <a href="https://github.com/joy7103"> @joy</a>
      </p>
    </div>
    <div class="container" style="background-color: lightblue">
      <p style="font-size: 1.5em">
      🖳Mohammad Ibrahim
      </p>
      <p>
         Founder & Admin
      </p>
      <p>
        <a href="https://github.com/Inventor227">@Inventor227</a>
      </p>
    </div>
<%- include("partials/footer"); -%>
