<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <a href="https://aqueous-peak-33779.herokuapp.com/"><<h3>Drop us your's contact details here.</h3></a>
<%- include("partials/footer"); -%>
