
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EDU_BASE</title>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/805ebae564.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">EDU_BASE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="front"><a href="/front">HOME</a></li>
          <li id="front"><a href="/Answer">Answer the Question</a></li>
          <li id="front"><a href="/question">Question Bank</a></li>
          <li id="about"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">



<%# ///////////////////////////////////////////////////////////////////// %>
<h1>Question</h1>
  <p><%=question%></p>
<h1>Answers</h1>
  <% answers.forEach(function(answer){ %>
    <p>
    <%=answer.answer%>
    </p>
 <% }) %>

<%- include("partials/footer"); -%>
